.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

.pe-2 {
  padding-right: .5rem!important;
}

.pe-3 {
  padding-right: 1rem!important;
}

.pb-6 {
  padding-bottom: 4.5rem !important;
}

.ps-2 {
  padding-left: .5rem!important;
}

@media (min-width:992px) {
  .py-lg-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

